---
layout: text
title: Blog
---

<ul class="post-list section-text">
    {% for post in paginator.posts %}
        {% unless post.hidden %}
        <li class="post-item">
            <a href="{{ post.url }}">
                <span class="date">{{ post.date | date: "%d. %B %Y" }}</span>
                <h2>{{ post.title }}</h2>
                <div>
                    {{ post.excerpt }}
                </div>
            </a>
            <hr>
        </li>
        {% endunless %}
    {% endfor %}
    {% include post-navigation.html
        back=paginator.previous_page_path
        forward=paginator.next_page_path
        center=paginator.page
    %}
</ul>
