<footer id="footer">
    <div class="contact">
        <a rel="noopener" href="https://github.com/{{ site.github_username }}" target="_blank"><img src="{{ "/assets/img/github.png" | relative_url }}" alt="GitHub Logo" /></a>
        <div class="copy-alert" id="discord-copy" data-value="{{ site.discord_tag }}">Copied Discord Tag</div>
        <a onclick="copyDiscord();"><img src="{{ "/assets/img/discord.png" | relative_url }}" alt="Discord Logo" /></a>
        <a href="mailto:{{ site.email }}"><img src="{{ "/assets/img/mail.png" | relative_url }}" alt="E-Mail Symbol" /></a>
        <a rel="noopener" href="https://instagram.com/{{ site.instagram }}" target="_blank"><img src="{{ "/assets/img/instagram.png" | relative_url }}" alt="Instagram Logo" /></a>
    </div>
    <div class="legal">
        <div class="legal-links">
            <a href="{{ "/imprint" | relative_url }}">Impressum</a>
            <a href="{{ "/privacy" | relative_url }}">Datenschutz</a>
        </div>
        <span class="copyright">© 2021 Anton Vogelsang</span>
    </div>
</footer>