<head>
    <meta charset="utf-8">
    <meta name="description" content="xImAnton - Hobby Web-, Java- and Python Developer">
    <meta name="author" content="Anton Vogelsang">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="xImAnton.de | Home">
    <meta property="og:type" content="website">

    <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/global.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/post.css" | relative_url }}">

    <script src="{{ "/assets/js/common.js" | relative_url }}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap" rel="stylesheet">

    <meta name="theme-color" content="#2D2D2D">
    <title>{{ page.title }} | xImAnton.de</title>
</head>
