<head>
    <meta charset="utf-8">
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}Anton Vogelsang{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="xImAnton.de">
    <meta name="theme-color" content="#7607E6">
    {% if page.image %}
    <meta name="og:image" content="{{ page.image }}">
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
    {% elsif page.content != "" %}
    <meta name="description" content="{{ page.content | strip_html | truncatewords: 35 }}">
    <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 35 }}">
    {% else %}
    <meta name="description" content="xImAnton - Hobby Web-, Java- and Python Developer">
    <meta property="og:description" content="xImAnton - Hobby Web-, Java- and Python Developer">
    {% endif %}
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/global.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/post.css" | relative_url }}">

    <script src="{{ "/assets/js/common.js" | relative_url }}"></script>
    <title>{{ page.title }} | xImAnton.de</title>
</head>
