.post-content {
    font-size: .7em;
    text-align: left;
}

.post-content.centered {
    text-align: center;
}

.post h1 {
    color: var(--background);
    font-family: var(--sans);
    margin-bottom: .5em;
    line-height: normal;
}

@media screen and (max-width: 620px) {
    .post h1 {
        font-size: 1.4em;
    }
}

.post h2, .post h3, .post h4, .post h5, .post h6 {
    font-family: var(--sans);
    text-align: left;
    line-height: normal;
    color: var(--background);
    margin: .4em 0;
}

.post p {
    margin: 0 0 .8em;
}

.post, .post-meta {
    font-family: var(--serif);
}

.post-meta {
    color: var(--light-background);
    font-size: .6em;
    line-height: 1.6em;
}

.post-meta .it {
    font-style: italic;
}

.post hr {
    border: 0;
    border-top: 1px solid #2D2D2D63;
    margin: 2rem 0;
}

.post-content img {
    width: 100%;
    margin: 1em 0;
    border: 1px solid #d7d7d7d9;
    border-radius: .3em;
}
