---
layout: default
---

<section class="top-section" id="top">
    <div class="header-anchor-wrapper">
        <div id="header-anchor"></div>
    </div>
    <div class="header" id="header" tabindex="-1" onblur="setNavbarShown(false)">
        <h1 id="headline">xImAnton&shy;.de</h1>
        <span>Welcome to my Website!</span>
        <button onclick="toggleNavbar()">☰</button>
        <ul>
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            <li><a href="{{ "/projects" | relative_url }}">Projects</a></li>
        </ul>
    </div>
    <div class="wave-1">
        <div id="about"></div>
        <svg id="wave-1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
</section>
<section class="about">
    <div class="about-content">
        <h2>About Me</h2>
        <div class="section-text">
            Hey, my name is Anton.
            I’m a hobby developer from Germany working with Python, Java and Web Technologies.
            I have been coding for two years now.
        </div>
    </div>
</section>
<section class="projects" id="projects">
    <div class="wave-2">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    <h2>My Projects</h2>
    <div class="section-text">
        You can read about my projects on my blog on this site.
    </div>
</section>
<section class="tech" id="tech">
    <div class="wave-3">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    <h2>Tech&shy;no&shy;logies I work with</h2>
    <div class="technologies">
        <div>
            <img src="{{ "/assets/img/python.png" | relative_url }}" alt="Python Logo">
            <span>Python</span>
        </div>
        <div>
            <img src="{{ "/assets/img/css.png" | relative_url }}" alt="CSS Logo">
            <span>HTML/CSS</span>
        </div>
        <div>
            <img src="{{ "/assets/img/js.png" | relative_url }}" alt="JS Logo">
            <span>JS/TS</span>
        </div>
        <div>
            <img src="{{ "/assets/img/git.png" | relative_ur }}" alt="Git Logo">
            <span>Git</span>
        </div>
        <div>
            <img src="{{ "/assets/img/docker.png" | relative_ur }}" alt="Docker Logo">
            <span>Docker</span>
        </div>
        <div>
            <img src="{{ "/assets/img/java.png" | relative_ur }}" alt="Java Logo">
            <span>Java</span>
        </div>
        <div>
            <img src="{{ "/assets/img/react.png" | relative_ur }}" alt="React Logo">
            <span>ReactJS</span>
        </div>
        <div>
            <img src="{{ "/assets/img/node.png" | relative_ur }}" alt="NodeJS Logo">
            <span>NodeJS</span>
        </div>
        <div>
            <img src="{{ "/assets/img/jetbrains.png" | relative_ur }}" alt="JetBrains Logo">
            <span>JetBrains IDEs</span>
        </div>
        <div>
            <img src="{{ "/assets/img/figma.png" | relative_ur }}" alt="Figma Logo">
            <span>Figma</span>
        </div>
    </div>
</section>